<% content_for :header do %>
  <div class="maintitle"><%=h @team.name %></div>
<% end %>


<div class="titleA">Description</div>
<br />

<p>
  <%=h @team.description %>
</p>

<hr class="wide" />
<br />