<% if logged_in? -%>
  Logged in as <%= link_to_current_user :content_method => :login %>  (<%= link_to "Log out", logout_path, { :title => "Log out" }    %>)
<% else -%>
  Not logged in  
  <p>(<%= link_to "Log in",  login_path,  { :title=> "Log in" } %>|<%= link_to "Sign up", signup_path, { :title => "Create an account" } %>)</p>
<% end -%>
